:root {
    --accent-color: #2196f3;
    --bg-color: #ffffff;
    --text-color: #757575;
    --logo-color: #000000;
    --nav-color: #212121;
    --footer-bg-color: #2e2f3b;
    --footer-contact-color: #ffffff99;
    --btn-bg-color: #f5f4fa;
}

body {
    background-color: var(--bg-color);
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.web-logo {
    color: var(--accent-color);
}

.site-nav-link {
    color: var(--nav-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contacts a {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero {
    text-align: center;
}

.hero-title {
    color: var(--bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.btn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--nav-color);
}

.about-text {
    line-height: 1.71;
    color: var(--text-color);
}

.section-title {
    color: var(--nav-color);
    font-size: 36px;
    line-height: 1.17;
}

.team-title {
    color: var(--nav-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color);
}

.footer-studio {
    color: var(--bg-color);
}

.hero,
footer {
    background-color: var(--footer-bg-color);
}

.section {
    font-size: 14px;
    line-height: 1.71;
}

.contacts a:hover,
.contacts a:focus,
.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--accent-color);
}

.footer-addres a {
    color: var(--bg-color);
    font-style: normal;
    line-height: 1.71;
}

.footer-contacts a {
    color: var(--footer-contact-color);
    font-style: normal;
    line-height: 1.71;
}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--nav-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.filter.portfolio-btn {
    font-family: inherit;
    color: var(--nav-color);
    background-color: var(--btn-bg-color);
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.filter button:hover,
.filter button:focus {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--bg-color);
}